doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min-3.1.1.css')
    script(src='/js/jquery.min-2.1.0.js')
    script(src='/js/bootstrap.min-3.1.1.js')
  body
    div(class="container", style="width:970px; !important;")
      block content
