extends layout

block content
  .panel.panel-default
    .panel-heading
      div(class="row")
        div(class="col-md-6")
          h3 GRRA - Login
    .panel-body
      form(method="POST", action="/user/login")
        div(class="row")
          div(class="col-md-offset-3 col-md-6")
            div(class="panel panel-default")
              div(class="panel-heading") Login
              div(class="panel-body", style="padding:30px")
                div(class="form-group")
                  input(type="text", class="form-control", name="username", placeholder="Username")
                div(class="form-group")
                  input(type="password", class="form-control", name="password", placeholder="Password")
                div
                  input(type="submit", class="btn btn-primary", value="Login")



  