extends ../layout

block content
  .panel.panel-default
    .panel-heading  
      h3 Edit the username and password
      br
    .panel-body
      form.form-horizontal(method='POST', action='/user/#{uid}/update', role='form')
        .form-group
          label.col-sm-2.control-label(for='inputEmail3') New user name :
          .col-sm-10
            input#inputEmail3.form-control(type='text', name='user', placeholder='Enter your new username')
        .form-group
          label.col-sm-2.control-label(for='inputPassword3') New password
          .col-sm-10
            input#inputPassword3.form-control(type='password', name='pass', placeholder='Enter the new Password')
        .form-group
            div(class="col-md-offset-3 col-md-5")
              button.btn.btn-primary.btn-lg.btn-block(type='submit') SAVE 

