extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h3 Edit the title
		.panel-body		
			br
			form.form-inline(method='post', name='form1', action='/user/#{uid}/feeds/#{fid}',role='form')

				.form-group
					label.sr-only(for='exampleInputEmail2') Email address
					input#exampleInputEmail2.form-control(type='text', name='title',placeholder='Enter new title', size='100' )
					div(class="col-md-4")
						button.btn.btn-primary.btn-lg.btn-block(type='submit') SAVE