extends ../layout

block content
  p.col-sm-12
    a(href='/user/#{uid}/feeds')
      span.glyphicon.glyphicon-home &nbsp;
      | Back to all feeds
  form.col-sm-12(role='form', method='post', action='/user/#{uid}/feeds')
    .input-group
      input.form-control(type='url', id='url', name='url', required, placeholder='New Feed URL')
      spand.input-group-btn
        button.btn.btn-primary(type='submit') Add