.col-md-offset-2.col-md-8
  .panel.panel-default
    .panel-body(style="padding:30px")
      form(method="POST", action="/user/#{uid}/feeds")
        .form-group
          .input-group
            .input-group-addon: i.fa.fa-chain.fa-fw
            input.form-control(type='url', id='url', name='url', required, placeholder='Enter a new feed URL')
        .text-center
          input.btn.btn-primary(type="submit", value="Add", style="margin-right: 12px; width: 69px;")
          a.btn.btn-default.cancel-btn(href="#") Cancel
